body{
    background: lightgrey;
    margin: 0%;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0%;
    text-align: center;
}
.container{
    width: 600px;
    margin: auto;
}
.post{
    background: white;
    margin-top: 10px;
}
.post img{
    width: 100%;
}
.post h2,
.post p {
    padding: 10px;
    margin:0px;
}
.post span{
    float: right;
    padding: 10px;
    color: lightgray;
}
